html, body {
    height:      100%;
    width:       100%;
    margin:      0;
    padding:     0;
    font-family: sans-serif;
    color:       #444;
}

body {
    display:  flex;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition:      color 0.4s linear;
}

h1 {
    margin-top: 10px;
}

@media (max-width: 550px) {
    h1 {
        font-size: 1.4rem;
    }
}

table {
    margin-top:      20px;
    border-collapse: collapse;
    width:           auto;
    overflow-y:      scroll;
}

table tr {

}

table th {
    text-align: left;
    font-size:  1.2rem;
}

table th,
table td {
    padding:       6px;
    border-bottom: 1px solid #aaa;
    transition:    background 0.4s linear;
}

table th:first-child,
table td:first-child {
    padding-left: 0;
}

@media (max-width: 550px) {
    table th {
        font-size: 1rem;
    }

    table td {
        font-size: 0.9rem;
    }
}

table td:hover {
    background: #eee;
}

code {
    font-size:  1rem;
    background: #c7c7c7;
}

.container-outer {
    border-top:    5px solid;
    border-bottom: 5px solid;
    position:      relative;
    width:         90%;
    max-width:     1920px;
    overflow:      auto;
    margin:        0 auto;
    background:    #ddd;
    border-color:  #6ab42a;
    transition:    border-color 0.4s linear;
}

.container-outer:hover {
    border-color: #04a;
}

.col-24 {
    float:      left;
    min-height: 1px;
    width:      100%;
}

.content {
    padding: 5px 5px 50px 5px;
}

.logo {
    width:      100%;
    height:     auto;
    transition: transform 0.4s linear;
}

.logo-wrapper {
    padding:  5px;
    width:    50px;
    overflow: hidden;
}

@media (max-width: 1600px) {
    .logo-wrapper {
        display: block;
        margin:  0 auto;
    }

    .logo-wrapper:hover .logo {
        transform: perspective(1px) scale(3) translateY(30px);
    }
}

@media (max-width: 1200px) {
    .logo {
        transform: perspective(1px) scale(1.5) translateY(5px);
    }

    .logo-wrapper:hover .logo {
        transform: perspective(1px) scale(3) translateY(14px);
    }
}

@media (min-width: 1200px) {
    .logo-wrapper {
        width: 100px;
    }
}

@media (min-width: 1600px) {
    .logo-wrapper {
        width:    150px;
        left:     50px;
        top:      50px;
        position: absolute;
    }
}

@media (min-width: 1800px) {
    .logo-wrapper {
        width: 250px;
        left:  25px;
    }
}

.redirect-info {
    /* padding-top: 20 px;*/
}

.h3 {
    font-size:       1.2rem;
    font-weight:     bold;
    text-decoration: underline;
}

table .h3 {
    text-decoration: none;
}

@media (max-width: 550px) {
    .h3 {
        font-size: 1rem;
    }

    .redirect-info p {
        font-size: 0.9rem;
    }
}

.performance-monitor {
    margin: 15px 0;
}

.performance-monitor table {
    margin: 10px 0;
}

.performance-monitor table tr td:last-child {
    text-align: right;
}

.container {
    max-width: 950px;
    margin:    0 auto;
    overflow:  auto;
    position:  relative;
}

.footer-wrapper {
    position:         fixed;
    width:            90%;
    max-width:        1920px;
    bottom:           5px;
    background-color: #6ab42a;
}

.footer {
    padding:        5px;
    color:          #fff;
    font-size:      0.8rem;
    text-align:     center;
    vertical-align: center;
}

@media (max-width: 550px) {
    .hide-xs {
        display: none;
    }
}

@media (min-width: 550px) {
    .footer {
        font-size: 0.9rem;
    }
}

.footer a {
    color: #fff;
}

.footer > span {
    display:        inline-block;
    vertical-align: middle;
}

.to-bitbucket {
    font-size: 1.5rem;
}

.miniroute-test table {
    margin-top: 0;
}

.miniroute-test fieldset {
    margin: 10px 0;
    border: 1px solid;
}

.miniroute-test legend {
    min-width: 150px;
    cursor:    pointer;
    padding:   2px 6px;
}

.miniroute-test .test-result-passed {
    border-color: #b3caa7;
}

.miniroute-test .test-result-failed {
    border-color: #b4221e;
}

.miniroute-test .test-result-passed legend {
    background: #b3caa7;
}

.miniroute-test .test-result-failed legend {
    background: #b4221e;
    color:      #fff;
}

.miniroute-test .info-combi-config,
.miniroute-test .info-combi-input {
    margin:       30px 0;
    table-layout: fixed;
    text-align:   center;
}

.miniroute-test .info-combi-config td:first-child,
.miniroute-test .info-combi-input td:first-child {
    width: 10%;
}

.miniroute-test .info-combi-config td:nth-child(2),
.miniroute-test .info-combi-config td:nth-child(3),
.miniroute-test .info-combi-config td:nth-child(4),
.miniroute-test .info-combi-config td:nth-child(5) {
    width: 22%;
}

.miniroute-test .info-combi-input td:nth-child(2),
.miniroute-test .info-combi-input td:nth-child(3),
.miniroute-test .info-combi-input td:nth-child(4) {
    width: 30%;
}

fieldset.hidden-content {
    border-right-width:  0;
    border-bottom-width: 0;
    border-left-width:   0;
    float:               left;
    box-sizing:          border-box;
}

fieldset.hidden-content.hidden {
    width: 100%;
}

@media (min-width: 600px) {
    fieldset.hidden-content.hidden {
        width: 50%;
    }
}

@media (min-width: 900px) {
    fieldset.hidden-content.hidden {
        width: 33.3%;
    }
}

@media (min-width: 1200px) {
    fieldset.hidden-content.hidden {
        width: 25%;
    }
}

fieldset.hidden-content.visible {
    width:               100%;
    border-right-width:  1px;
    border-bottom-width: 1px;
    border-left-width:   1px;
}

.hidden-content > .hidden {
    display: none;
}

.build-info {
    padding:    20px;
    margin:     20px 0 10px 0;
    background: #b3caa7;
}

.build-info a {
    color: #fff;
}

.miniroute-test .category-headline {
    float:          left;
    width:          100%;
    padding:        10px;
    text-transform: uppercase;
    font-size:      1.5em;
    cursor:         pointer;
    transition:     all 0.4s linear;
}

.miniroute-test .category-headline:hover {
    color:      #fff;
    background: #444;
}

.miniroute-test .category-content {
    display: none;
}

.tested-category > a {
    border:     1px solid #04a;
    color:      #04a;
    background: #fff;
    display:    block;
    float:      left;
    width:      100%;
    padding:    7px 15px;
    margin:     2px 0;
    transition: all 0.4s linear;
}

.tested-category > a:hover {
    border-color: #6ab42a;
    background:   #6ab42a;
    color:        #fff;
}

@media (min-width: 600px) {
    .tested-category > a {
        width: 50%;
    }

    .miniroute-test .category-headline {
        padding: 10px 20px;
    }
}

@media (min-width: 900px) {
    .miniroute-test .category-headline {
        font-size: 1.75em;
        padding:   20px 25px;
    }

    .tested-category > a {
        width:   auto;
        display: inline-block;
        margin:  2px 5px;
    }
}

@media (min-width: 1200px) {
    .miniroute-test .category-headline {
        padding: 20px 50px;
    }
}

.tested-category > a:first-child {
    margin-left: 0;
}

.tested-category > a:last-child {
    margin-right: 0;
}

a:hover {
    color: #04a;
}

.build-status {
    position:   fixed;
    display:    none;
    top:        0;
    right:      0;
    background: #04a;
    padding:    5px 15px;
}

.build-status.inline {
    position: static;
    margin:   25px 0;
}

@media (min-width: 550px) {
    .build-status {
        display: block;
    }
}

.build-status > div {
    clear:         both;
    margin-bottom: 4px;
}

.build-status > div:after,
.build-status > div:before {
    content: ' ';
    display: table;
}

.build-status > div:after {
    clear: both;
}

.build-status > div:last-child {
    margin-bottom: 0;
}

.build-status > div > div {
    float:    left;
    margin:   2px;
    color:    #fff;
    overflow: auto;
}

.build-status .have-passed,
.build-status .have-failed,
.build-status .general-status {
    padding: 5px 15px;
    display: inline-block;
}

.build-status .label {
    padding-right: 8px;
}

.build-status .have-passed {
    background: #6ab42a;
}

.build-status .have-failed {
    background: #b4221e;
}

.build-status .general-status.passed {
    background: #6ab42a;
}

.build-status .general-status.failed {
    background: #b4221e;
}

.content .alternate.on,
.combination-information table .on {
    background: #b3caa7;
}

.content .alternate.off,
.combination-information table .off {
    background: #ffc1a9;
}

.to-top {
    display:     block;
    position:    fixed;
    bottom:      0;
    color:       #6ab42a;
    font-size:   2em;
    font-weight: bold;

    right:       0;

    transition:  all 0.4s linear;
}

@media (min-width: 400px) {
    .to-top {
        background: #6ab42a;
        color:      #fff;

        right:      37px;
        padding:    5px 6px 0 6px;
    }

    .to-top:hover {
        color:      #6ab42a;
        background: #fff;
    }
}

@media (min-width: 700px) {
    .to-top {
        right: 0;
    }
}

@media (min-width: 1200px) {
    .to-top {
        padding: 13px 15px 0 15px;
        /*border:  1px solid #444;*/
    }
}